@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: bottom;
}

/*  */

html{
    font-size: 62.5%;
    width: 100%;
    height: 100vh;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3.5rem;
}

p{
    font-size: 2rem;
}

a{
    font-size: 3.5rem;
}

h1,
h2,
h3,
h4,
p,
a {
    letter-spacing: 0.1em;
    line-height: 1.5;
    font-family: 'Kosugi Maru', sans-serif;
}

/*  */

.leaf {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .leaf h1 {
    font-size: 5rem;
    color: #8c7851;
  }
  
  .leaf li{
    position: absolute;
    list-style: none;
    top: -50px;
    background: #47ff76;
    border-radius: 0% 70%;
  }
  
  
  @keyframes fall {
    to {
      top: 140%;
    }
  }
  
  @keyframes sway1 {
    from {
      transform: translateX(0px) rotate(0deg);
    }
    to {
      transform: translateX(200px) rotate(-45deg);
    }
  }
  
  @keyframes sway2 {
    from {
      transform: translateX(200px) rotate(-45deg);
    }
    to {
      transform: translateX(0px) rotate(0deg);
    }
  }
  
  .leaf li:nth-child(1){
    left: 0%;
    top: -110px;
    width: 24px;
    height: 15px;
    background-color: #ffbf00;
    animation: fall 10s linear infinite,
               sway1 3s ease-in-out infinite alternate;
    animation-delay: 2s;
  }
  
  .leaf li:nth-child(2){
    left: 5%;
    top: -120px;
    width: 13px;
    height: 9px;
    background-color: #009926;
    animation: fall 15s linear infinite,
               sway1 2s ease-in-out infinite alternate;
    animation-delay: 8s;
  }
  
  .leaf li:nth-child(3){
    left: 15%;
    top: -100px;
    width: 16px;
    height: 10px;
    background-color: #c2704e;
    animation: fall 9s linear infinite,
               sway1 3.5s ease-in-out infinite alternate;
    animation-delay: 13s;
  }
  
  .leaf li:nth-child(4){
    left: 30%;
    top: -120px;
    width: 16px;
    height: 10px;
    background-color: #ffbf00;
    animation: fall 8s linear infinite,
               sway2 4s ease-in-out infinite alternate;
    animation-delay: 7s;
  }
  .leaf li:nth-child(5){
    left: 40%;
    top: -110px;
    width: 16px;
    height: 10px;
    animation: fall 10s linear infinite,
               sway1 4s ease-in-out infinite alternate;
    animation-delay: 0s;
  }
  .leaf li:nth-child(6){
    left: 55%;
    top: -100px;
    width: 24px;
    height: 15px;
    background-color: #009926;
    animation: fall 11s linear infinite,
               sway2 3s ease-in-out infinite alternate;
    animation-delay: 3s;
  }
  .leaf li:nth-child(7){
    left: 65%;
    top: -90px;
    width: 16px;
    height: 10px;
    animation: fall 7s linear infinite,
               sway2 3.5s ease-in-out infinite alternate;
    animation-delay: 7s;
  }
  .leaf li:nth-child(8){
    left: 50%;
    top: -110px;
    width: 13px;
    height: 9px;
    background-color: #c2704e;
    animation: fall 7s linear infinite,
               sway1 3s ease-in-out infinite alternate;
    animation-delay: 3s;
  }
  .leaf li:nth-child(9){
    left: 80%;
    top: -120px;
    width: 16px;
    height: 10px;
    animation: fall 10s linear infinite,
               sway2 4s ease-in-out infinite alternate;
    animation-delay: 4s;
  }
  

header {
    background-color: white;
}

.logo{
    width: 30%;
    height: 30%; 
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
}

header nav {
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    align-items: center;
}

header h2 {
    color: white;
}

header nav ul {
    display: flex;
    align-items: center;
    background-color: green;
    margin-top: 5%;
    position: fixed;
    z-index: 999;
}

header ul li {
    margin-left: 40px;
    list-style-type: none;
}

header ul li a {
    text-decoration: none;
    color: white;
}

.main_visual {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    width: 50%;
    height: 500px;
    margin: 0 auto;
}

.slide-items {
    width: 100%;
    height: 50%;
    margin-top: 5%;
    margin-left: 30%;
}

.slide-items img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin: 0 auto;
    margin-right: 0%;
}

.header_section_top{
    position: relative;
    bottom: 300px;
    margin-left: 5%;
}

/* footer */

footer{
    height: 150px;
    background: green;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a{
    color: white;
}

@media screen and (min-width:375px) and (max-width:1024px) {
  .leaf{
    display: none;
  }
  .logo{
    margin-top: 10%;
  }
  .slide-items img{
    width: 100%;
    height: 300px;
    object-fit: contain;
    margin-top: -20%;
  }
  a{
    font-size: 1.5rem;
  }
  .header_section_top h1{
    font-size: 3.5rem;
  }
  .header_section_top h3{
    font-size: 2.5rem;
  }
  .header_section_top{
    margin-bottom: -70%;
  }
}

@media screen and (min-width:768px) and (max-width:1024px) {
  .leaf{
    display: none;
  }
  .logo{
    margin-top: 10%;
  }
  .slide-items img{
    width: 100%;
    height: 300px;
    object-fit: contain;
    margin-top: -20%;
  }
  a{
    font-size: 1.5rem;
  }
  .header_section_top h1{
    font-size: 3.5rem;
  }
  .header_section_top h3{
    font-size: 2.5rem;
  }
  .header_section_top{
    margin-top: 20%;
    margin-bottom: -60%;
  }
  footer{
    margin-top: 50%;
  }
}